.btn-primary {
  background: #3292a6 !important;
  border-color: #3292a6 !important;
}

.btn {
  border-radius: 0 !important;
}
.text-primary-color {
  color: $primary-color;
}

.bg-primary-lg {
  background: #3292a6 !important;
}
